*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

header{
position:fixed;
width:100%;
background:#0a3d62;
z-index:1000;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
}

nav h2{
color:white;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
font-weight:600;
}

.hero{
height:100vh;
background:url('../images/banner.jpg') center center/cover;
display:flex;
justify-content:center;
align-items:center;
}

.overlay{
background:rgba(0,0,0,.5);
padding:40px;
border-radius:15px;
color:white;
text-align:center;
}

.overlay h1{
font-size:4rem;
}

section{
padding:100px 10%;
}

section h2{
margin-bottom:30px;
color:#0a3d62;
}

section img{
width:100%;
max-width:900px;
display:block;
margin:20px auto;
border-radius:15px;
}

.cards{
display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:#f1f1f1;
padding:30px;
border-radius:15px;
width:250px;
text-align:center;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.gallery img{
height:250px;
object-fit:cover;
}

footer{
background:#0a3d62;
color:white;
padding:30px;
text-align:center;
}
